@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: transparent;
  padding: 0;
  margin: 0;
}

/* กล่องปฏิทิน */
.wrapper {
  width: 350px;
  background: transparent;
  border-radius: 0;
  box-shadow: none;
  transform-origin: top left;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  position: relative; /* เพื่อให้ GIF ใช้ absolute */
  width
